<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../static/css/me.css" rel="stylesheet">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">

            <form name="sub" id="blog-form" action="#" th:object="${blog}" th:action="@{/confirmEdit}" method="post" class="ui form">
                <input type="hidden" name="published" th:value="*{published}">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="hidden" name="userId" th:value="*{userId}">
                <input type="hidden" name="views" th:value="*{views}">
                <input type="hidden" name="createTime" th:value="*{createTime}">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui selection compact teal basic dropdown label">
                            <input type="hidden" value="Original" name="flag" th:value="*{flag}">
                            <i class="dropdown icon"></i>
                            <div class="text">Original</div>
                            <div class="menu">
                                <div class="item" data-value="Original">Original</div>
                                <div class="item" data-value="Shared">Shared</div>
                                <div class="item" data-value="Translation">Translation</div>
                            </div>
                        </div>
                        <input type="text" name="title" placeholder="title" th:value="*{title}">
                    </div>
                </div>

                <div class="required field">
                    <div id="md-content" style="z-index: 1 !important;">
                        <textarea th:text="*{content}" placeholder="content" name="content" style="display: none"></textarea>
                    </div>
                </div>

                <div class="required field">
                    <textarea name="description" th:text="*{description}" placeholder="description..." maxlength="200"></textarea>
                </div>

                <div class="inline fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="recommend" id="recommend" checked th:checked="*{recommend}" class="hidden">
                            <label for="recommend">Recommend</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="shareStatement" id="shareStatement" th:checked="*{shareStatement}" class="hidden">
                            <label for="shareStatement">Share Statement</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="commentabled" id="commentabled" checked class="hidden">
                            <label for="shareStatement">Share Statement</label>
                        </div>
                    </div>

                </div>

                <div class="ui right aligned container">
<!--                    <button onclick="display_alert()" class="ui teal submit button">Save</button>-->
                    <button type="button" class="ui teal button" onclick="display_alert()">Save</button>
                    <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
                </div>

                <div class="ui error message"></div>
                <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">username or password is wrong</div>

            </form>




        </div>
    </div>

</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/tocboc/tocbot.min.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
</th:block>

<script>

    /*初始化markdown编辑器*/
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/editormd/lib/"

        });
    });

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    })

    function display_alert() {
        var b = confirm("Are you sure to save?");
        if(b){
            document.forms['sub'].submit();
        }
    }


    $('.ui.form').form({
        fields:{
            title:{
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: 'Please input title'
                }]
            },
            content:{
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: 'Please input content'
                }]
            },
            description:{
                identifier: 'description',
                rules: [{
                    type: 'empty',
                    prompt: 'Please input description'
                }]
            }
        }
    })

</script>
</body>
</html>
